<footer class="">
    <div class="flex-lg-row card-footer">
        <a href="/"><img
                class="img-fluid rounded-start"
                src="/images/logo.png"
                alt=""
            /></a>
        <p>
            Copyright © 2022 - All rights reserved || Created By: Carolina Acuña
            y Pablo Cigoy
        </p>
        <p id="mail"><a
                href="mailto:saborlatino@info.de"
            >saborlatino@info.de</a></p>
    </div>
</footer>