
<img src="/images/saborlatino.png" alt="logo" >
<div class="container"><h2>About Us</h2>
<p>Sabor Latino is an application created by two Web Development students passionate about Latin American cuisine. Here you can find the best gourmet offers with typical Latin American dishes. Our goal is to help promote Latin cuisine in Berlin by creating a guide with the most amazing options. Here you also have the option to add and promote your own Restaurant. 
Pablo is a Chef with many years of experience in Latin Gastronomy, and Carolina worked also many years in Service and has a good eye for the best Gourmet places in Berlin</p>
<div class="homeImg2">
<img src="/images/caro.jpg" alt="caro" >
<img src="/images/pablo.jpg" alt="pablo">
</div>
</div>