<img src="/images/saborlatino.png" alt="logo" >
<h1>About us</h1>
<p>Sabor Latino is an application created by two Web Development students passionate about Latin American cuisine. Here you can find the best gourmet offers with typical Latin American dishes. Our goal is to help promote Latin cuisine in Berlin by creating a guide with the most amazing options. Here you also have the option to add and promote your own Restaurant. 
Bienvenid@S!</p>

