<div class="titles">

    <h1>Sabor Latino</h1>
    <h1>A latin grastronomic road in Berlin</h1>
    {{! <img src="/images/img2.jpeg" alt="table" /> }}
</div>

{{! <div class="hip">
    <a href="/auth/signup">Signup</a>
    <a href="/auth/login">Login</a>
    <a href="/profile">Profile</a>
</div> }}