<div class="titles">
    <h1>My profile</h1>
    <h2>Hello, and wellcome {{user.username}}</h2>
    <a href="/restaurants/read">Read your restaurant</a>
    <a href="/restaurants/create">Add a restaurants</a>
    <a href="/restaurants/rest">muestra Restaurantes</a>
</div>

<div class="hip">
    <a href="/auth/logout">Logout</a>
    <a href="/">Home</a>
{{!--     <img src="{{user.Image}}" alt="" /> --}}

</div>