<div class="titles">
    <h1>My profile</h1>
    <h2>Hello, and wellcome {{user.username}}</h2>
</div>

{{!-- <div class="hip">
    <a href="/auth/logout">Logout</a>
    <a href="/">Home</a>
    <img src="{{user.img}}" alt="" />
</div> --}}