
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

body {
    color: black;
    box-sizing: border-box;
    font-weight: lighter;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
}
#navbar-brandi {
    width: 120px;
}

.block {
    display: flex;
    flex-direction: column;
}
.logo-login {
    width: 400px;
}
.titles {
    /* max-width: 100%; */
    height: 500px;
    background-color: white;
    text-align: center;
    background-position: center;
    border: none;
    margin-top: 0;
}
button {
    color: rgb(252, 174, 187);
}
.titles h1 {
    font-size: 50px;
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}

#container-fluid {
    color: rgb(223, 184, 190);
}

p {
    margin: 30px;
}

img {
    width: 20%;
}
.card-img {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
