/* Hex: #ffa0a0
RGB: (255,160,160)
CMYK: (0,37,37,0)
Pantone Red 0331 C
Hex: #FCAEBB
RGB: (252,174,187)
Pantone 162 C
Hex: #FFBE9F
RGB: (255,190,159)
Pantone 169 C
Hex: #FFB3AB
RGB: (255,179,171)
Pantone 176 C
Hex: #FFB1BB
RGB: (255,177,187)
Pantone 183 C
Hex: #FC9BB3
RGB: (252,155,179)
Pantone 189 C
Hex: #F8A3BC
RGB: (248,163,188)
Pantone 197 C
Hex: #E89CAE
RGB: (232,156,174)
Pantone 487 C
Hex: #EAA794
RGB: (234,167,148)
Pantone 494 C
Hex: #E9A2B2
RGB: (233,162,178)
Pantone 700 C
Hex: #F2ACB9
RGB: (242,172,185)
Pantone 708 C
Hex: #F890A5
RGB: (248,144,165)
Pantone 1555 C
Hex: #FFB990
RGB: (255,185,144)
Pantone 1625 C
Hex: #FFA38B
RGB: (255,163,139)
Pantone 1765 C
Hex: #FFA3B5
RGB: (255,163,181)
Pantone 1775 C
Hex: #FF8DA1
RGB: (255,141,161)
Pantone 1905 C
Hex: #F59BBB
RGB: (245,155,187)
Pantone 2022 C
Hex: #FAAA8D
RGB: (250,170,141)
Pantone 2339 C
Hex: #F09491
RGB: (240,148,145) */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');


body {
    color:black;
    box-sizing: border-box;
    font-weight: lighter;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}
#navbar-brandi {
   width:  120px;
}


.block {
    display: flex;
    flex-direction: column;
  

}
.logo-login {
    width: 400px;
}
.titles {
    /* max-width: 100%; */
    height: 500px;
    background-color: white;
    text-align: center;
    background-position: center;
    border: none;
    margin-top: 0;
    
}
button {
    color: rgb(252,174,187)
}
.titles h1 {
    font-size: 50px;
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}

#container-fluid {
    color: rgb(252,174,187);
}

p {
    margin: 30px;
}

img {
    width: 20%;
}
.card-img {
     width: 100%;
     height: 15vw;
     object-fit: cover;
    }

/* body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #e82e2e;
    text-decoration: none;
    font-size: 1.5em;
}

form {
    margin: 30px auto;
    width: 380px;
}

form label {
    color: #666;
    display: inline-block;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}

form input,
form button {
    box-sizing: border-box;
    font-size: 14px;
    outline: 0;
    padding: 4px;
    width: 100%;
    margin-bottom: 20px;
}

form button {
    background: #e4bdd4;
    border: 1px solid #8ad7b2;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    padding: 8px 16px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s ease background;
    width: 100%;
}
.center h1 h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    margin-left: 25%;
}
.hip a {
    display: flex;
    justify-content: center;
    margin: 30px;
}

form button:hover {
    background: #e4bdd4;
    color: #8ad7b2;
    transition: 0.3s ease background;
}

.error {
    background: #f02b63;
    box-sizing: border-box;
    color: #fff;
    margin: 20px auto;
    padding: 20px;
    width: 100%;
}

ul {
    border-bottom: 2px solid #e4bdd4;
    height: 30px;
    padding: 1em 0;
    list-style-type: none;
}

ul li {
    line-height: 20px;
}

#to-right {
    padding: 1em;
    float: right;
}

#to-right span {
    color: #e4bdd4;
    font-size: 1.5em;
}

#form h2 {
    display: flex;
    justify-content: center;
}

#to-left {
    float: left;
}

#to-left p a {
    color: #000;
    font-weight: bold;
    font-size: 2em;
}

#logout-form {
    display: inline;
}

#logout-form button {
    width: 120px;
} */
