{{!-- <h1>Hola {{user.name}}</h1> --}}
<h2>Add your Restaurant here</h2>
<form action="/restaurants" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" required>

    <label for="speciality">Speciality:</label>
    <input type="text" name="speciality" required>
    
    <textarea name="description" id="" cols="30" rows="10">Descripcion</textarea>

    <label for="tel">tel:</label>
    <input type="text" name="tel" required>

    <label for="url">URL:</label>
    <input type="text" name="url" required>

    <label for="email">email:</label>
    <input type="text" name="email" required>

    <label for="street">street:</label>
    <input type="text" name="street" required>

    <label for="houseNumber">House number:</label>
    <input type="number" name="houseNumber" required>

    <label for="area">Area:</label>
    <input type="text" name="area" required>

    <button type="submit">Add</button>
</form>
