{{!-- <h1>Hola {{user.name}}</h1> --}}
<h2>Add your Restaurant here</h2>
<a href="restaurants/edit">edit</a>
<form action="/restaurants/create" class='container' method="POST">
    {{!-- <label for="name">Name:</label>
    <input type="text" name="name" /> --}}

    {{!-- <label for="speciality">Speciality:</label>
    <input type="text" name="speciality" /> --}}


    {{!-- <label for="tel">Tel:</label>
    <input type="text" placeholder="telefono" name="tel" /> --}}

    {{!-- <label for="url">URL:</label>
    <input type="text" name="url" /> --}}

    {{!-- <label for="email">email:</label>
    <input type="text" name="email" /> --}}

    {{!-- <label for="street">street:</label>
    <input type="text" name="street" /> --}}

    {{!-- <label for="houseNumber">House number:</label>
    <input type="number" name="houseNumber" /> --}}

    {{!-- <label for="area">Area:</label>
    <input type="text" name="area" /> --}}

    {{!-- <button type="submit">Add</button>
    <textarea
        name="description"
        id=""
        cols="30"
        rows="10"
    >Descripcion</textarea> --}}
</form>
 <section id="book-a-table" class="book-a-table">
      <div class="container">

        <div class="section-title">
          <h2>Book a <span>Table</span></h2>
         
        </div>






<div class="container">
    <form
        action="/restaurants/create" class='container' method="POST">
        <div class="row">
            <div class="col-lg-4 col-md-6 form-group">
                <input
                    type="text"
                    name="name"
                    class="form-control"
                    id="name"
                    placeholder="Your Name"
                    data-rule="minlen:4"
                    data-msg="Please enter at least 4 chars"
                />
                <div class="validate"></div>
            </div>
            
            <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
                <input
                    type="text" name="speciality"
               placeholder="Speciality"
                    class="form-control"
                    data-rule="minlen:4"
                    data-msg="Please enter at least 4 chars"
                />
                <div class="validate"></div>
            </div>
            
            <div class="col-lg-4 col-md-6 form-group mt-3">
                <input
                   type="text" placeholder="telefono" name="tel" 
                    class="form-control"
                    data-rule="minlen:4"
                    data-msg="Please enter at least 4 chars"
                />
                <div class="validate"></div>
            </div>

            <div class="col-lg-4 col-md-6 form-group mt-3">
                <input
                   type="text" name="url" placeholder="Web Page"
                    class="form-control"
                    data-rule="minlen:4"
                    data-msg="Please enter at least 4 chars"
                />
                <div class="validate"></div>
            </div>

            <div class="col-lg-4 col-md-6 form-group mt-3">
                <input
                    type="email" name="email"
                    class="form-control"
                    placeholder="Email"
                    data-rule="minlen:4"
                    data-msg="Please enter at least 4 chars"
                />
                <div class="validate"></div>
            </div>
            
            <div class="col-lg-4 col-md-6 form-group mt-3">
                <input
                    type="text" name="street"
                    class="form-control"
                    placeholder="Street"
                    data-rule="minlen:4"
                    data-msg="Please enter at least 4 chars"
                />
                <div class="validate"></div>
            </div>

            <div class="col-lg-4 col-md-6 form-group mt-3">
                <input
                   type="number" name="houseNumber"
                    class="form-control"
                    name="people"
                    id="people"
                    placeholder="House Number"
                    data-rule="minlen:1"
                    data-msg="Please enter at least 1 chars"
                />
                <div class="validate"></div>
            </div>
            <div class="col-lg-4 col-md-6 form-group mt-3">
                <input
                    type="text"
                    placeholder="area"
                    name="Area"
                     class="form-control"
                     data-rule="minlen:4"
                    data-msg="Please enter at least 4 chars"
                />
                <div class="validate"></div>
            </div>

        </div>
        <div class="form-group mt-3">
            <textarea
                class="form-control"
              name="description"
                rows="5"
                placeholder="Description"
            ></textarea>
            <div class="validate"></div>
        </div>
        <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3 center" type="submit">Add</button>
        {{!-- <a href="restaurants/rest" class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3 center" >
        Save</a> --}}

        
        <div class="mb-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your booking request was sent. We will
                call back or send an Email to confirm your reservation. Thank
                you!</div>
        </div>
        <div class="text-center"><button type="submit">Send Message</button></div>
    </form>
</div>
 </section>