{{!-- <h1>Hola {{user.name}}</h1> --}}
<h2>Add your Restaurant here</h2>
<form action="/restaurants/create" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" />

    <label for="speciality">Speciality:</label>
    <input type="text" name="speciality" />

    <textarea
        name="description"
        id=""
        cols="30"
        rows="10"
    >Descripcion</textarea>

    <label for="tel">Tel:</label>
    <input type="text" placeholder="telefono" name="tel" />

    <label for="url">URL:</label>
    <input type="text" name="url" />

    <label for="email">email:</label>
    <input type="text" name="email" />

    <label for="street">street:</label>
    <input type="text" name="street" />

    <label for="houseNumber">House number:</label>
    <input type="number" name="houseNumber" />

    <label for="area">Area:</label>
    <input type="text" name="area" />

    <button type="submit">Add</button>
</form>