<h2>Your results</h2>

{{#each restaurantsFound}}
<br>
<a href="/restaurants/{{this._id}}">
  <p>{{this.name}}</p> 
  <p>{{speciality}}</p> 

</a>
<br>
{{/each}}

<a href="/">Back to the Home Page</a>